@font-face {
  font-family: 'BC';
  src: url("./assets/iridescent-bc.woff") format('woff');
}


#root {
  margin: 0 auto;
  font-family: "BC", Arial, Helvetica, sans-serif;
  height: 100vh;
}

.navbar{
  color:#E5BD41;
  background-color: #361236;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98vw;
  padding:0 1vw;
  height:7vh;
  
}

.navbar h2{
  font-weight: lighter;

}

.landing-page{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 87vh;
}

.content{
  width: 85vh;
}

.sidebar{
  display: flex;
  flex-direction: column;
  width: 15vw;
  background-color: #E5BD41;
}

.footer{
  background-color: #361236;
  color: #E5BD41;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
}

.footer img{
  width: 50px;
  margin-right: 10px;
}

.rental-unit{
  border: 2px solid black;
  margin:10px;
  font-size: 0.8em;
  display: flex;
}

.unit-description p{
  font-family: 'Courier New', Courier, monospace;
}


.labels{
  display: flex;
}
.green-label{
  background-color: #361236;
  color: white;
}
