@font-face {
  font-family: 'BC';
  src: url("./assets/iridescent-bc.woff") format('woff');
}


#root {
  margin: 0 auto;
  font-family: "BC", Arial, Helvetica, sans-serif;
}

.navbar{
  color:#E5BD41;
  background-color: #361236;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98vw;
  padding:0 1vw;
  
}

.navbar h2{
  font-weight: lighter;

}

.footer{
  background-color: #361236;
  color: #E5BD41;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer img{
  width: 50px;
  margin-right: 10px;
}
